<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd ">

  <!--加载处理器解析器和处理器适配器驱动-->
  <mvc:annotation-driven/>

  <!--开启bean注解支持-->
  <context:component-scan base-package="xyz.hsong.oexam.controller"/>

  <!--配置视图解析器-->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
    <property name="prefix" value="/WEB-INF/jsp/"/>
    <property name="suffix" value=".jsp"/>
  </bean>

  <!--&lt;!&ndash;静态文件加载器&ndash;&gt;-->
  <!--<mvc:resources location="/static/" mapping="/static/**" />-->

  <!--配置服务器默认的静态文件解析-->
  <mvc:default-servlet-handler/>

  <!--用户登陆拦截器-->
  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**"/>
      <mvc:exclude-mapping path="/user/valid.do"/>
      <mvc:exclude-mapping path="/user/login.do"/>
      <mvc:exclude-mapping path="/user/register.do"/>
      <mvc:exclude-mapping path="/admin/user/login.do"/>
      <bean class="xyz.hsong.oexam.interceptor.LoginInterceptor" id="loginInterceptor"/>
    </mvc:interceptor>
    <mvc:interceptor>
      <!--拦截的url-->
      <mvc:mapping path="/admin/**"/>
      <!--放行的url-->
      <mvc:exclude-mapping path="/admin/user/login.do"/>
      <bean class="xyz.hsong.oexam.interceptor.AdminInterceptor" id="adminInterceptor"/>
    </mvc:interceptor>

  </mvc:interceptors>


</beans>